.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: orange;
  max-width: 70%;
  min-height: 1000px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  background-color: rgb(91, 91, 179);
}

.header--menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.header--menu li {
  margin: 10px;
}

.submenu {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: orangered;
}

.submenu--symbol {
  display: flex;
  right: 50px;
}

.items {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 100px;
}

.items ul {
  list-style-type: none;
  right: 20px;
}

.items-check {
  margin-right: 150px;
}

.separator {
  display: flex;
  justify-content: center;
}

.finalprice {
  display: flex;
  justify-content: flex-end;
}
